<monitors version="2">
  <configuration>
    <logicalmonitor>
      <x>0</x>
      <y>0</y>
      <scale>1</scale>
      <primary>yes</primary>
      <monitor>
        <monitorspec>
          <connector>{{ resize_desktop_connector }}</connector>
          <vendor>unknown</vendor>
          <product>unknown</product>
          <serial>unknown</serial>
        </monitorspec>
        <mode>
          <width>{{ resize_desktop_width }}</width>
          <height>{{ resize_desktop_height }}</height>
          <rate>{{ resize_desktop_rate }}</rate>
        </mode>
      </monitor>
    </logicalmonitor>
  </configuration>
</monitors>